
body {
 background-image: url("dragon.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  display: grid;
  height: 100%;
  margin: 0;
}

@font-face {
    font-family: 'tribal_dragonregular';
    src: url('tribaldragon-23ll-webfont.woff2') format('woff2'),
         url('tribaldragon-23ll-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1 {
  font-family: 'tribal_dragonregular';
  font-size: 35pt;
  font-color: brown;
}
h5 {
   font-family: 'tribal_dragonregular';
   Font-size: 25pt;
   Font-color: red;
}